.saved-notes {
    text-align: center;
    max-width: 608px;
    margin: 0px auto;
    padding: 0px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .saved-notes h1{
    margin-bottom: 16px;
    color: var(--cor-fonte);
  }
  .saved-notes h2 {
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 16px;
    color: var(--cor-fonte);
  }
  .saved-note {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    padding: 2px 8px 16px 8px;
    border-radius: 3px;
    background-color: var(--cor-bloco-de-notas);
    width: 270px;
    height: 250px;
    overflow: auto;
    border: 1px solid black;
  }
  .saved-note p {
    text-align: start;
    text-align: justify;
  }