<div class="container">
  <div class="header-card">
    <h1 class="fontHeader color-font">New Note</h1>
    <h2 class="color-font">Create a new note</h2>
  </div>
  <div class="body-card">
    <div class="card-input">
      <h1 class="mainFont color-font">Title</h1>
      <input type="text" placeholder="Enter title" [(ngModel)]="title" />
    </div>
    <div class="card-text">
      <h1 class="mainFont color-font">Text</h1>
      <textarea
        name="texarea"
        id="texarea"
        cols="30"
        rows="10"
        #myTextarea
      ></textarea>
    </div>
    <div class="card-button">
      <button class="button" (click)="saveNote()">
        <h1>Add Note</h1>
      </button>
    </div>
    <!-- <div class="card-category">
        <h1>Categoty</h1>
        <ul class="list-category">
          <li class="item-category" [ngClass]="{'clicado': coresFundo[0]}" (click)="press(0)">Work</li>
          <li class="item-category" [ngClass]="{'clicado': coresFundo[1]}" (click)="press(1)">Personal</li>
          <li class="item-category" [ngClass]="{'clicado': coresFundo[2]}" (click)="press(2)">Other</li>
        </ul>
      </div> -->
  </div>
  
  
</div>
